.timer-group {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.timer {
  display: flex;
  gap: 10px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  font-size: 2rem;
}
.label {
  font-size: 1rem;
}
button[data-start] {
  margin-top: 20px;
}